.App {
  text-align: center;
}
hr {
  width: 45%;
  border: 1px solid;
  color: #1c3885;
}
.home > .images{
  display: flex;
  justify-content: center;
}
.home > .images >img{
  height: 200px;
  padding: 10px;
  padding-top: 50px;
  border-radius: 30px;
}
.intro > p{
  font-size: 35px;
}

.button {
  margin: 10px;
  height: 40px;
  width: 23%;
  border-radius: 10px;
  color: rgb(255, 19, 137);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  cursor: pointer;
}
.login{
  padding-top: 50px;
  padding-bottom: 20px;
}
.button:hover{
  background-color: white;
}
.navbar {
  margin: 0px;
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;
  overflow: visible;
  height: 95px;
  background-color: #334b8d;

  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}
.links{
  padding: 15px;
}
body {
  background-color: white;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: #1b1d0c;
  text-align: center;
  border-style: solid;
  border-color: #1450f3;
  border-width: 6px;
  margin: 70px;
  margin-bottom: 15px;
  padding-top: 20px;
}
input {
  width: 40%;
  height: 30px;
  margin: 5px;
  border-radius: 8px;
}
textarea {
  width: 40%;
  margin: 5px;
  height: 50%;
  border-radius: 5px;
}
.material {
  border-radius: 20px;
  max-width: 60%;
  height: 100%;
  text-align: center;
  margin: auto;
  box-shadow: 5px 8px 8px 5px rgba(0, 0, 0, 0.2);
  background-color: rgba(186, 229, 253, 0.849);
  padding: 1px;
  margin-bottom: 50px;
}

.material:hover {
  background-color: rgb(238, 241, 255);
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.8);
}

.delete {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  justify-self: auto;
  margin-right: 20px;
  font-weight: bold;
  cursor: pointer;
}
.delete:hover{
  background-color: rgb(253, 109, 109);
}
.list {
  list-style-type: none;
}

@media only screen and (max-width: 1049px) {
  .navbar {
    height: 150px;
  }
  body{
    padding-top: 70px;
  }
  #feel{
    font-size: 20px;
  }
}
@media only screen and (max-width: 1800px){
  .home > .images >img{
    height: 170px;
  }
  #feel{
    font-size: 28px;
  }
}
@media only screen and (max-width: 1590px){
  .home > .images >img{
    height: 130px;
  }
  #feel{
    font-size: 26px;
  }
}
@media only screen and (max-width: 1270px){
  .home > .images >img{
    height: 110px;
  }
  #feel{
    font-size: 24px;
  }
}
@media only screen and (max-width: 1100px){
  .home > .images >img{
    height: 80px;
  }
  #feel{
    font-size: 22px;
  }
}
@media only screen and (max-width: 880px){
  .home > .images >img{
    height: 50px;
  }
  #like{
    font-size: 10px;
  }
  #feel{
    font-size: 19px;
  }
}
@media only screen and (max-width: 645px){
  .home > .images >img{
    height: 40px;
  }
  #like{
    font-size:8px;
  }
  .navbar{
    padding: 1px;
  }
  .intro > h1{
    font-size: 28px;
  }
  .intro >p{
    font-size: 18px;
  }
}
@media only screen and (max-width: 560px){
  .home > .images >img{
    height: 30px;
    border-radius: 20px;
  }
  #like{
    font-size: 12px;
    width: 75px;
  }
  .intro > h1{
    font-size: 26px;
  }
  .intro >p{
    font-size: 18px;
  }
}
@media only screen and (max-width: 470px){
  .home > .images >img{
    height: 20px;
    border-radius: 16px;
  }
  #like{
    font-size: 10px;
    width: 65px;
  }
  textarea{
    width: 100px;
  }
  .intro > h1{
    font-size: 24px;
  }
  .intro >p{
    font-size: 16px;
  }
}
@media only screen and (max-width: 400px){
  .home > .images >img{
    height: 15px;
    border-radius: 14px;
  }
  #like{
    font-size: 9px;
    width: 60px;
  }
  #feel{
    font-size: 14px;
  }
  textarea{
    width: 80px;
  }
  .intro > h1{
    font-size: 20px;
  }
  .intro >p{
    font-size: 14px;
  }
}
@media only screen and (max-width: 350px){
  .home > .images >img{
    height: 10px;
    padding: 5px;
    border-radius: 10px;
  }
  #label{
    font-size: 12px;
  }
  #search{
    font-size: 12px;
  }
  #comm{
    font-size: 8px;
  }
  #samples{
    font-size: 20px;
  }
  #like{
    font-size: 8px;
    width: 54px;
  }
  textarea{
    width: 60px;
  }
  #add{
    font-size: 14px;
  }
  .navbar{
    height: 100px;
  }
}
@media only screen and (max-width: 213px){
  .navbar{
    height: 175px;
  }
}
@media only screen and (max-width: 312px){
  .home > .images >img{
    height: 7px;
  }
  #like{
    font-size: 7px;
    width: 50px;
  }
  textarea{
    width: 55px;
  }
}
@media only screen and (max-width: 580px){
  body{
    font-size: 15px;
  }
}
@media only screen and (max-width: 360px){
  /* body{
    font-size: 13px;
  } */
  .intro > h1{
    font-size: 15px;
  }
  .intro >p{
    font-size: 10px;
  }
  .into{
    font-size: 10px;
  }
}
@media only screen and (max-width: 345px){
  body{
    font-size: 3px;
  }
  .button{
    width: 90px;
    height: 35px;
    margin: 1px;
  }
}
@media only screen and (max-width: 315px){
  body{
    padding-top: 100px;
  }
}
@media only screen and (max-width: 292px){
  .home > .images >img{
    height: 6px;
  }
}
@media only screen and (max-width: 350px){
  .material >h3{
    font-size: 15px;
  }
  .material >h5{
    font-size: 10px;
  }
}
@media only screen and (max-width: 280px){
  .material >h3{
    font-size: 10px;
  }
  .material >h5{
    font-size: 6px;
  }
}
