.App {
  text-align: center;
}
hr {
  width: 45%;
  border: 1px solid;
  color: #1c3885;
}
.button {
  margin: 10px;
  height: 40px;
  width: 25%;
  border-radius: 10px;
  color: rgb(255, 19, 137);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  cursor: pointer;
}
.button:hover{
  background-color: white;
}
.navbar {
  margin: 0px;
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;
  overflow: visible;
  height: 90px;
  background-color: #c8d3f1;

  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: white;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: #1b1d0c;
  text-align: center;
  border-style: solid;
  border-color: rgb(233, 14, 160);
  border-width: 6px;
  margin: 70px;
  margin-bottom: 15px;
}
input {
  width: 40%;
  height: 30px;
  margin: 5px;
  border-radius: 8px;
}
textarea {
  width: 40%;
  margin: 5px;
  height: 50%;
  border-radius: 5px;
}
.material {
  border-radius: 20px;
  max-width: 60%;
  height: 100%;
  text-align: center;
  margin: auto;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: rgb(255, 255, 255);
}
.material:hover {
  background-color: rgb(238, 241, 255);
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.8);
}

.delete {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  justify-self: auto;
  margin-right: 20px;
  font-weight: bold;
  cursor: pointer;
}
.delete:hover{
  background-color: rgb(253, 109, 109);
}
.list {
  list-style-type: none;
}